@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 767px) {
  .hidden-indications {
    display: none;
  }

  /* Estilos para dispositivos móviles */
  .head {
    top: 25px;
    left: 100px;
    width: 80px;
    height: 70px;
    border: 2px solid red;
  }

  .right-arm {
    top: 100px;
    left: 75px;
    width: 30px;
    height: 105px;
    border: 2px solid green;
  }

  .left-arm {
    top: 175px;
    left: 1025px;
    width: 70px;
    height: 170px;
    border: 2px solid green;
  }

  .right-leg {
    top: 350px;
    left: 910px;
    width: 60px;
    height: 250px;
    border: 2px solid blue;
  }

  .left-leg {
    top: 350px;
    left: 980px;
    width: 60px;
    height: 250px;
    border: 2px solid blue;
  }

  .right-foot {
    top: 602px;
    left: 910px;
    width: 60px;
    height: 55px;
    border: 2px solid black;
  }

  .left-foot {
    top: 602px;
    left: 980px;
    width: 60px;
    height: 55px;
    border: 2px solid black;
  }

  .right-hand {
    top: 350px;
    left: 860px;
    width: 45px;
    height: 70px;
    border: 2px solid orange;
  }

  .left-hand {
    top: 350px;
    left: 1045px;
    width: 45px;
    height: 70px;
    border: 2px solid orange;
  }

  .chest {
    top: 175px;
    left: 925px;
    width: 95px;
    height: 80px;
    border: 2px solid white;
  }

  .stomach {
    top: 265px;
    left: 925px;
    width: 95px;
    height: 80px;
    border: 2px solid pink;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
  .head {
    top: 65px;
    left: 310px;
    width: 80px;
    height: 75px;
    border: 2px solid red;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  /* Estilos para pantallas de escritorio pequeñas */
  .head {
    top: 70px;
    left: 380px;
    width: 120px;
    height: 120px;
    border: 2px solid red;
  }
}

@media (min-width: 1280px) {
  /* Estilos para pantallas de escritorio grandes */
  .head {
    top: 60px;
    left: 900px;
    width: 140px;
    height: 100px;
    border: 2px solid red;
  }

  .right-arm {
    top: 175px;
    left: 850px;
    width: 70px;
    height: 170px;
    border: 2px solid green;
  }

  .left-arm {
    top: 175px;
    left: 1025px;
    width: 70px;
    height: 170px;
   /* border: 2px solid green; */ 
  }

  .right-leg {
    top: 350px;
    left: 910px;
    width: 60px;
    height: 250px;
    border: 2px solid blue;
  }

  .left-leg {
    top: 350px;
    left: 980px;
    width: 60px;
    height: 250px;
    /* border: 2px solid blue; */
  }

  .right-foot {
    top: 602px;
    left: 910px;
    width: 60px;
    height: 55px;
    /* border: 2px solid black; */
  }

  .left-foot {
    top: 602px;
    left: 980px;
    width: 60px;
    height: 55px;
    /* border: 2px solid black; */
  }

  .right-hand {
    top: 350px;
    left: 860px;
    width: 45px;
    height: 70px;
    /* border: 2px solid orange; */
  }

  .left-hand {
    top: 350px;
    left: 1045px;
    width: 45px;
    height: 70px;
    /* border: 2px solid orange; */
  }

  .chest {
    top: 175px;
    left: 925px;
    width: 95px;
    height: 80px;
    /* border: 2px solid white; */
  }

  .stomach {
    top: 265px;
    left: 925px;
    width: 95px;
    height: 80px;
    /* border: 2px solid pink; */
  }
}

// Custom
.body-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta segun sea necesario */
  overflow: auto;
}
.body-container img {
  max-width: 80%; /* La imagen no sera mas ancha que el ancho del viewport */
  max-height: 90vh; /* La imagen no sera mas alta que la altura del viewport */
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: auto; /* Centra la imagen horizontalmente */
  border-radius: 20px;
}
.body-part {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
}

.disabled-link {
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
}
